@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Patrick Hand', cursive;
  background-color: #87CEEB;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  text-align: left;
  border: none;
  min-height: 100svh;
  display: block;
}
